﻿
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CMS User";
    ViewBag.ActiveMenu = new string[] { "cmsuser-index" };
}
@model Ng.ELapak.Web.Areas.Admin.Models.UserViewModel;
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "User")">User Detail</a>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            @*<div class="page-title">
                    <h1>@Model.FullName</h1>
                </div>*@
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light shadow bordered">
                    <div class="portlet-body form">
                        <form class="form-horizontal">
                            <div class="form-actions top text-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (Model != null)
                                        {
                                            <a href="@Url.Action("Edit","User", new { id = Model.Id})" class="btn btn-padd2 blue"><i class="fa fa-pencil"></i> &nbsp Edit User</a>

                                            if (Model.Id != ViewBag.UserId)
                                            {
                                                <a id="delete_user" href="@Url.Action("Delete","User", new { id = Model.Id})" class="btn btn-padd2 red"><i class="fa fa-trash"></i> &nbsp Delete User</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Username</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.Username</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="control-label col-md-4">Name</label>
                                    <div class="col-md-8">
                                        <p class="form-control-static">@Model.Name</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions text-right">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="@Url.Action("Index", "User")" class="btn btn-padd2 grey-cascade">Back</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
