﻿@model Ng.ELapak.Web.Areas.Admin.Models.UserViewModel;
@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CMS User";
    ViewBag.ActiveMenu = new string[] { "cmsuser-index" };
}

@section Styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="@ViewBag.BaseUrl/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.BaseUrl/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" />
    <!-- END PAGE LEVEL STYLES -->
}

@section Scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="@ViewBag.BaseUrl/Assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script type="text/javascript" src="@ViewBag.BaseUrl/Assets/global/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="@ViewBag.BaseUrl/Assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="@ViewBag.BaseUrl/Assets/admin/scripts/layout.js" type="text/javascript"></script>
}
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "User")">CMS User</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    @{Html.RenderPartial("_FlashMessage"); }
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light shadow bordered">
                <div class="portlet-body form">
                    <form class="form-horizontal" action="@Url.Action(string.IsNullOrEmpty(Model.Id) ? "Add" : "Edit", "User")" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="Role" value="@(string.IsNullOrEmpty(Model.Role) ? "Administrator" : Model.Role)" />
                            <div style="display:none">
                                <input name="ListAdminType" value="Administrator" />
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Username</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="UserName" value="@Model.Username" onkeypress='return event.keyCode !== 32' required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="Name" value="@Model.Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Password</label>
                                <div class="col-md-5">
                                    <input id="user-password" type="password" class="form-control" name="Password" pattern=".{6,}" placeholder="Enter password" value="@Model.Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">Password Confirmation</label>
                                <div class="col-md-5">
                                    <input id="user-confirm-password" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm password" value="@Model.Password" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-padd2 green">Submit</button>
                                    <a href="@Url.Action("Index", "User")" class="btn btn-padd2 grey-cascade">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

