﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CMS User";
    ViewBag.ActiveMenu = new string[] { "cmsuser-index" };
}
@section Styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "User")">CMS User</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        @*<div class="page-title">
                <h1>Chatbot User</h1>
            </div>*@
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    @{
        await Html.RenderPartialAsync("_FlashMessage");
    }
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">List CMS User</span>
                    </div>
                    <a href="@Url.Action("Add", "User")" class="btn btn-padd1 green pull-right">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            Add New User
                        </span>
                    </a>
                </div>
                <div class="portlet-body cust-table separate">
                    <table class="table table-hover datatable_default" id="table-list">
                        <thead>
                            <tr>
                                <th style="width: 60px;">
                                    No
                                </th>
                                <th style="width: 80px;">
                                    Action
                                </th>
                                <th style="width: 250px;">
                                    Username
                                </th>
                                <th style="min-width: 100px;">
                                    Name
                                </th>
                                <th style="min-width: 100px;">
                                    Role
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/custom/js/_user-index.js"></script>
    <script>
        var urlDataTable = "@Url.Action("GetDataUsers", "User")";
    </script>
}

