﻿
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = new string[] { "chatbotuser-index" };
}
@model Ng.ELapak.Web.Areas.Admin.Models.ChatbotUserViewModel;
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index", "ChatbotUser")">Chatbot User Detail</a>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE HEAD -->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            @*<div class="page-title">
                <h1>@Model.FullName</h1>
            </div>*@
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar-detail">
                    <div class="portlet no-padding no-border">
                        <div class="panel panel-list" style="padding-bottom: 0; margin-bottom: 20px;">
                            <div class="panel-body" style="padding-top: 0">
                                <div class="user-pic">
                                    <h4>@Model.FullName</h4>
                                </div>
                                <ul class="list-sidebar">
                                    <li>
                                        <span>Email Address</span>
                                        <h4>@Model.Email</h4>
                                    </li>
                                    <li>
                                        <span>Phone Number</span>
                                        <h4>@Model.Phone</h4>
                                    </li>
                                    <li>
                                        <span>Address</span>
                                        <h4>@Model.Address</h4>
                                    </li>
                                    <li>
                                        <span>Created Date</span>
                                        <h4>@Model.CreatedDate</h4>
                                    </li>
                                    <li>
                                        <span>Rating</span>
                                        <h4>@Model.Rating</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-detail">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <small>Channel Type</small>
                                        <h3>@Model.ChannelType</h3>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-direction"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="dashboard-stat2">
                                <div class="display">
                                    <div class="number">
                                        <small>Channel Id</small>
                                        <h4>@Model.ChannelUserId</h4>
                                    </div>
                                    <div class="icon">
                                        <i class="icon-bubbles"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
