﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chatbot User";
    ViewBag.ActiveMenu = new string[] { "chatbotuser-index" };
}
@*@section Styles{
        <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    }*@

@section Styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}

<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ChatbotUser")">Chatbot User</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        @*<div class="page-title">
            <h1>Chatbot User</h1>
        </div>*@
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light shadow bordered">
                 <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">List Chatbot User</span>
                    </div>
                </div> 
                <div class="portlet-body cust-table separate">
                    <table class="table table-hover datatable_default" id="table-list">
                        <thead>
                            <tr>
                                <th style="width: 60px;">
                                    No
                                </th>
                                <th style="width: 80px;">
                                    Action
                                </th>
                                <th style="width: 250px;">
                                    Channel Id
                                </th>
                                <th style="min-width: 100px;">
                                    Channel Type
                                </th>
                                <th style="min-width: 100px;">
                                    Name
                                </th>
                                <th style="min-width: 100px;">
                                    Email
                                </th>
                                <th style="min-width: 100px;">
                                    Phone
                                </th>
                                <th style="min-width: 100px;">
                                    Address
                                </th>
                                <th style="min-width: 50px;">
                                    Rating
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/custom/js/_chatbotuser-index.js"></script>
    <script>
        var urlDataTable = "@Url.Action("GetDataChatbotUsers", "ChatbotUser")";
    </script>
}