﻿@model IEnumerable<Ng.ELapak.Web.Domain.Model.Product>
@{
        ViewData["Title"] = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Product";
        ViewBag.ActiveMenu = new string[] { "cmsproduct-index" };
    }

@section Styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}


<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Products")">CMS Product</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        @*<div class="page-title">
                <h1>Chatbot User</h1>
            </div>*@
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    @{
        await Html.RenderPartialAsync("_FlashMessage");
    }
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">List Product</span>
                    </div>
                    <a href="@Url.Action("Create", "Products")" class="btn btn-padd1 green pull-right">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            Add New Product
                        </span>
                    </a>
                </div>
                <table class="table table-hover datatable_default" id="table-list">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ImageUrl)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaxDiscount)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <img class="img-responsive" src="@item.ImageUrl" style="max-height: 100px; width: auto;" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaxDiscount)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Products", new { id = item.Id })">Edit</a>
                                    <a href="@Url.Action("Details", "Products", new { id = item.Id })">Detail</a>
                                    <a href="@Url.Action("Delete", "Products", new { id = item.Id })">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>