﻿@model IEnumerable<Ng.ELapak.Web.Areas.Admin.Models.PurchaseViewModel>

@{
    ViewData["Title"] = "Purchase Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product";
    ViewBag.ActiveMenu = new string[] { "cmspurchase-index" };
}

@section Styles{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}


<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Products")">CMS Product</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        @*<div class="page-title">
                <h1>Chatbot User</h1>
            </div>*@
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- END PAGE HEADER-->
    @{
        await Html.RenderPartialAsync("_FlashMessage");
    }
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">List Purchase Order</span>
                    </div>
                </div>
                <table class="table table-hover datatable_default" id="table-list">
                    <thead>
                        <tr>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Nama Product
                            </th>
                            <th>
                                Gambar Product
                            </th>
                            <th>
                                Price after nego
                            </th>
                            <th>
                                Price Before Nego
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.Name @item.Email
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode) - @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                <img class="img-responsive" src="@item.ProductImage" style="max-height: 100px; width: auto;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PriceAfterDeal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductBeforeDeal) * @Html.DisplayFor(modelItem => item.Quantity) = @(item.Quantity * item.ProductBeforeDeal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
