﻿
@model Ng.ELapak.Web.Areas.Admin.Models.DashboardViewModel
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section Styles{
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="~/Assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3>@ViewBag.ChatbotUserCount</h3>
                        <small>Total User</small>
                    </div>
                    <div class="icon">
                        <i class="icon-users"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3>@ViewBag.TotalChat</h3>
                        <small>Total Chat</small>
                    </div>
                    <div class="icon">
                        <i class="icon-bubbles"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3>@ViewBag.Rating</h3>
                        <small>Average Rating</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">Monthly Growth User</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_1" style="height: 353px"></div>
                </div>
            </div>
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">Monthly Growth Chat</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="chart_2" style="height: 353px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet light shadow bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold">New User</span>
                    </div>
                </div>
                <div class="portlet-body cust-table separate">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 60px;">
                                        No
                                    </th>
                                    <th style="width: 250px;">
                                        Name
                                    </th>
                                    <th style="min-width: 100px;">
                                        Channel
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int no = 1;
                                }
                                @foreach (var m in ViewBag.NewUser)
                                {
                                    <tr><td>@no</td><td>@m.FullName</td><td>@m.ChannelType</td></tr>
                                    no += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@section Scripts{
    <script type="text/javascript" src="~/Assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/serial.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/pie.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/radar.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/themes/light.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/themes/patterns.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amcharts/themes/chalk.js"></script>
    <script type="text/javascript" src="~/Assets/global/plugins/amcharts/amstockcharts/amstock.js"></script>
    <script src="~/Assets/global/plugins/flot/jquery.flot.min.js"></script>
    <script src="~/Assets/global/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Assets/global/plugins/flot/jquery.flot.pie.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="~/Assets/global/scripts/metronic.js"></script>
    <script type="text/javascript" src="~/Assets/admin/scripts/layout.js"></script>
    <script type="text/javascript" src="~/Assets/admin/scripts/dashboard.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            //Metronic.init(); // init metronic core components
            //Layout.init(); // init current layout
            Dashboard.init();

            var monthlyUser = [];
            var monthlyChat = [];

            @if(Model != null)
            {
                foreach(var item in Model.ListMonthlyGrowthUser)
                {
                    @:monthlyUser.push({ month: '@item.Month', total: @item.Total});
                }

                foreach(var item in Model.ListMonthlyGrowthChat)
                {
                    @:monthlyChat.push({ month: '@item.Month', total: @item.Total});
                }

                <text>
                Dashboard.init(monthlyUser, monthlyChat);
                </text>
            }
        });
    </script>
}