﻿@model IEnumerable<Ng.ELapak.Web.Domain.Model.Product>
@using Ng.ELapak.Web.Extensions;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href='@Url.AbsoluteContent("~/")'>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Amado - Furniture Ecommerce Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/amando/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/amando/css/core-style.css">
    <link rel="stylesheet" href="~/amando/style.css">
    <link href="~/assets/custom/css/_chat.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="~/amando/img/core-img/search.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Search Wrapper Area End -->
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="@Url.Action("Index", "Home")"><img src="~/amando/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>
        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/amando/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="#">My Profile</a></li>
                </ul>

            </nav>
        </header>
        <!-- Header Area End -->
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                @foreach (var item in Model)
                {
                    <!-- Single Catagory -->
                    <div class="single-products-catagory clearfix">
                        <a href="@Url.Action("Index", "Product", new { code = item.Code })">
                            <img src="@item.ImageUrl" alt="">
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <div class="line"></div>
                                <p>From Rp. @item.Price</p>
                                <h4>@item.Name</h4>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    <!-- ##### Footer Area Start ##### -->

    <div class="container">
        <div class="row">
            <div id="Smallchat">
                <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
                    <div class="Messenger_messenger">
                        <div class="Messenger_header" style="background-color: #ffc107; color: #fff">
                            <h4 class="Messenger_prompt">Ng.Lapak Bot</h4> <span class="chat_close_icon"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                        </div>
                        <div class="Messenger_content">
                            <div class="Messages">
                                <ul class="chat" id="chat">
                                </ul>
                            </div>
                            <div class="Input Input-blank">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-medium" placeholder="Type your message here..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===============CHAT ON BUTTON STRART===============-->
                <div class="chat_on"> <span class="chat_on_icon"><i class="fa fa-comments" aria-hidden="true"></i></span> </div>
                <!--===============CHAT ON BUTTON END===============-->
            </div>
        </div>
    </div>
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="index.html"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Radya labs 2020s panjanginnnn
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="~/amando/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/amando/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/amando/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/amando/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/amando/js/active.js"></script>
    <script type="text/javascript">
        var baseUrl = document.baseURI;
    </script>
    <script src="~/assets/custom/js/_chat.js" type="text/javascript"></script>

</body>

</html>