﻿
@if (TempData["AlertSuccess"] != null)
{
    string alertContent = (string)TempData["AlertSuccess"];

    <div class="alert alert-success">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        @alertContent
    </div>
}
@if (TempData["AlertError"] != null)
{
    string alertContent = (string)TempData["AlertError"];

    <div class="alert alert-danger">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        @alertContent
    </div>
}

