﻿<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2019 &copy; Chatbot.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->