﻿@using Ng.ELapak.Web.Extensions;
@{
    List<SiteMenu> ListMenu = new List<SiteMenu>();

    ListMenu.Add(new SiteMenu()
    {
        Id = "dashboard-index",
        Icon = "icon-home",
        Title = "Dashboard",
        Url = Url.Action("Index", "Dashboard"),
    });
    ListMenu.Add(new SiteMenu()
    {
        Id = "chatbotuser-index",
        Icon = "icon-users",
        Title = "Chatbot User",
        Url = Url.Action("Index", "ChatbotUser"),
    });
    //ListMenu.Add(new SiteMenu()
    //{
    //    Id = "chathistory-index",
    //    Icon = "icon-bubble",
    //    Title = "Chat FAQ History",
    //    Url = Url.Action("Index", "ChatHistory"),
    //});
     ListMenu.Add(new SiteMenu()
    {
        Id = "cmsproduct-index",
        Icon = "icon-user",
        Title = "Product",
        Url = Url.Action("Index", "Products"),
    });
    ListMenu.Add(new SiteMenu()
    {
        Id = "cmsuser-index",
        Icon = "icon-user",
        Title = "CMS User",
        Url = Url.Action("Index", "User"),
    });
    
    ListMenu.Add(new SiteMenu()
    {
        Id = "cmspurchase-index",
        Icon = "icon-user",
        Title = "Purchase Order",
        Url = Url.Action("PurchaseOrder", "Products"),
    });
}
<!-- END -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar-user">
        <img alt="" class="img-circle" src="~/Assets/admin/img/avatar11.jpg" />
        <span>Welcome, <b>Administrator</b></span>
    </div>
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        @{
            foreach (var menu in ListMenu)
                {
                    <li class="@(ViewBag.ActiveMenu[0].Equals(menu.Id) && menu.ListSubmenu != null && menu.ListSubmenu.Count > 0 ? "open" : ViewBag.ActiveMenu[0].Equals(menu.Id) ? "active" : "")">
                            <a href="@(String.IsNullOrEmpty(menu.Url) ? "javascript:;" : @menu.Url)">
                                <i class="@menu.Icon"></i>
                                <span class="title">@menu.Title</span>
                                @if (menu.ListSubmenu != null && menu.ListSubmenu.Count > 0)
                                {
                                    <span class="arrow @(ViewBag.ActiveMenu[0].Equals(menu.Id) ? "open" : "")"></span>
                                }
                            </a>
                            @if (menu.ListSubmenu != null && menu.ListSubmenu.Count > 0)
                            {
                                <ul class="sub-menu" style="@(ViewBag.ActiveMenu[0].Equals(menu.Id) && ViewBag.ActiveMenu.Length > 1 ? "display: block;" : "")">
                                    @foreach (var submenu in menu.ListSubmenu)
                                    {
                                        <li class="@(ViewBag.ActiveMenu.Length > 1 && ViewBag.ActiveMenu[1].Equals(submenu.Id) ? "active" : "")">
                                            <a href="@(String.IsNullOrEmpty(submenu.Url) ? "javascript:;" : @submenu.Url)"><i class="@submenu.Icon"></i> @submenu.Title</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                }
            }
        }
    </ul>
    <!-- END SIDEBAR MENU -->
</div>